.DS_Store
.dart_tool/

.packages
.pub/

build/
.idea/

*.lock
android/.project
example/android/.project
android/.settings/
android/.classpath
.vscode/launch.json
example/android/app/.settings/
example/android/app/.project
example/android/.settings/
